<% include partials/header %>

<div id="pageContainer">
    <div id="topdiv">
        
    </div> 
    
    <div class="jumbotron" id="homepagejumbo">
        
        <div class="col-md-4 headerLogo">  
            <img src="https://cdn.worldvectorlogo.com/logos/discord.svg" id="discordImage">
        </div>
        
        <div class="col-md-8 headerText">
            <p id="pageName">The Web Developer's</p>
            <p id="discordtLogo">DISCORD</p>
        </div>
        
    </div>
    
    <div class="contentbox">
        <h2 id="aboutUs">About Us</h2>
        <p id="aboutUsBody">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fermentum risus dui, vel tempus ante tempor
            ac. Curabitur sagittis diam a neque semper, fermentum vehicula dolor lobortis. Suspendisse ac tortor ac 
            elit tristique gravida. Nullam mollis velit velit, vel elementum dolor congue nec. Ut tempus mi sit amet 
            scelerisque dignissim. Duis lobortis auctor tempor. In a placerat mauris. Fusce egestas metus felis. Sed 
            magna massa, hendrerit eget eros et, egestas venenatis lacus. Donec eleifend nibh id placerat posuere. 
            Nullam elit est, bibendum nec felis in, gravida vehicula dolor. Phasellus consequat, lacus vel maximus 
            iaculis, ante neque varius leo, et pretium sapien erat ac massa. Integer porta eros et tellus porta, quis
            </p>
    </div>
    
    <div id="joinseparator" class="centered">
        
        <a href="/"><img src="http://en.war2.ru/wp-content/themes/war2.ru/images/discord.png"> <p> Join</p> </a>
    </div>
    
    <div class="centered third"> Some of our works </div>
    
    <div class="row" id="projectContainer">
        
        <div class="col-md-4 projectDiv">
            
            <h2 class=" project"> Project </h2>
            
        </div>
        
        <div class="col-md-4 projectDiv">

            <h2 class="project"> Project </h2>            
            
        </div>
        
        <div class="col-md-4 projectDiv">
            
            <h2 class="project"> Project </h2>            
            
        </div>
        
        
    </div>
    

    
</div>

<% include partials/footer %>
