<% include partials/header %>
<% include partials/navbar %>
<!-- HEADER END -->

<!-- About us -->
<section class="single-box-section">
  <div id="about-box">
    <h4>About Us</h4>
    <p>Class aptent tacti sociosqu ad litora toequent per conubia nostra, per inceptos
    himenaeos. Us eget iaculis arcu, id faubicus orci. Cras consectetur, libero eu
    eleifent volutpat, arcu lectus sagittis neque, id efficitur dui massa sed fellis.
    Donec aliquam vehicula fermentum. Sed commodo ultrices lorem, vitae pellentesque ipsum.</p>
  </div>
  <div class="opaque-link flex">
    <img src="" alt="Discordapp Icon - Small">
    <h5>Join</h5>
  </div>
</section>

<!-- User project showcase -->
<section class="multi-box-section">
  <h2>Some of our works</h2>
  <div id="projects-container" class="flex">
    <div class="project-card">
      <h2>Project Name</h2>
      <p>By this person</p>
    </div>
    <div class="project-card">
      <h2>Project Name</h2>
      <p>By this person</p>
    </div>
    <div class="project-card">
      <h2>Project Name</h2>
      <p>By this person</p>
    </div>
  </div>
  <h5 class="opaque-link">More...</h5>
</section>

<!-- Link to outside resources -->
<section class="single-box-section">
  <div id="learn-box">
    <h1>Learning Web Development Is Hard</h1>
    <p>So we gathered a couple of resources we found to help others have an easier
    time getting into the field</p>
  </div>
  <h5 class="opaque-link">Check them out...</h5>
</section>
<!-- CONTENT END -->

<% include partials/footer %>