
body {
    background: #DBD5FC;
    width: 100%;
}

#topdiv {
    height: 50px;
    width: 100%;
    background: #6B89DF;
}
#homepagejumbo {
    width: 100%;
    text-align: center;
    background: #DAE3FF;
    height: 350px;
}
#joinseparator {
    margin: 4em auto;
    width: 200px;
    
}
.third {
    width: 30%;
    font-size: 35px;
    font-family: 'yesteryear', cursive;
    color: black;
}
.contentbox {
    margin: 0% 3%;
    padding: 4px;
    box-shadow: 2px 2px 1px 0px grey;
    background: #6B89DF;
    border-radius: 5px;
}

/*When using centered class on a div you must set a width*/
.centered{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#pageContainer {
    background: #FBFCFF;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 5px #CFC8FC;
}

#pageName {
    font-family: 'Yesteryear', cursive;
    font-size: 50px;
    
}

#discordtLogo {
    font-family: 'Bangers', cursive;
    font-size: 85px;
    letter-spacing: 2px;
    color: #738DE3;
}

.headerLogo {
    text-align: right;
}

#discordImage {
    height: 150px;
    width: 150px;

    
}

.headerText {
    text-align: left;
}

#aboutUs {
    font-family: 'yesteryear', cursive;
    color: #FAFAFE;
    font-size: 35px;
    padding-left: 10px;
}

#aboutUsBody {
    font-family: lato;
    color: #FAFAFE;
    font-size: 1.5em;
    padding: 5px 10px 5px 10px;
}

.centered img {
    height: 50px;
    width: 50px;
}

.centered p {
    font-family: 'yesteryear', cursive;
    color: grey;
    font-size: 25px;
}

.projectDiv {
    background-color: #647BC8;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    width: 32%;
    height: 350px;
    

}

.project {
    color: #FBFCFF;
    font-size: 35px;
    font-family: 'yesteryear', cursive;
}

#projectContainer {
    width: 100%;
}

.row {
    margin-right: 0px!important;
    margin-left: 7px!important;
}
