
body {
    background: #DBD5FC;
    width: 100%;

}

#topdiv {
    height: 50px;
    width: 100%;
    background: #6B89DF;
}
#homepagejumbo {
    width: 100%;
    text-align: center;
    background: #DAE3FF;
    height: 350px;
}
#joinseparator {
    margin: 2em auto;
    width: 200px;
}
.third {
    width: 30%;
}
.contentbox {
    margin: 0% 3%;
    padding: 4px;
    box-shadow: 2px 2px 1px 0px grey;
    background: #6B89DF;
    border-radius: 5px;
}

/*When using centered class on a div you must set a width*/
.centered{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#pageContainer {
    background: #FBFCFF;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 5px #CFC8FC;
}

#pageName {
    font-family: 'Yesteryear', cursive;
    font-size: 50px;
    
}

#discordtLogo {
    font-family: 'Bangers', cursive;
    font-size: 85px;
    letter-spacing: 2px;
}

#discordImage {
    height: 150px;
    width: 150px;
    
}

